*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  background-color: #f1f6f9;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 1200px;
  height: 600px;
  border: 2px solid #090580;
  display: flex;
}
.wrapper__left {
  width: 40%;
  border-right: 2px solid #090580;
  background-color: #090580;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: inherit;
}
.wrapper__right {
  padding: 1rem;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}

.input {
  transition: background-color 0.4s, border 0.4s;
}
.input__div {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.input__label {
  font-size: 2rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f1f6f9;
}
.input__date {
  font-size: 1.5rem;
  border: none;
  padding: 1rem;
  background-color: #c5dff8;
  color: #080202;
  width: 150px;
  font-family: inherit;
}
.input__number {
  font-size: 1.5rem;
  border: none;
  padding: 1rem;
  background-color: #c5dff8;
  color: #080202;
  width: 150px;
  font-family: inherit;
}
.input__error {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #d71313;
  opacity: 0;
  transition: opacity 0.4s;
}

.btn {
  width: 150px;
  height: 40px;
  font-size: 1.6rem;
  background-color: #c5dff8;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  font-family: inherit;
  transition: background-color 0.2s;
}
.btn:hover {
  background-color: #b2daff;
}
.btn__div {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.month__div-btn {
  opacity: 0;
}
.month__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
.month__wrapper:first-child {
  margin-top: 8rem;
}
.month__input {
  font-size: 1.5rem;
  border: none;
  padding: 1rem;
  background-color: #c5dff8;
  color: #080202;
  width: 150px;
  font-family: inherit;
  background-color: #090580;
  color: #f1f6f9;
}
.month__date {
  width: 20%;
}
.month__amount {
  width: 60%;
}

.checking__div {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  opacity: 0;
}
.checking__p {
  text-transform: uppercase;
  color: #f1f6f9;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checking__amount {
  font-size: 1.5rem;
  border: none;
  padding: 1rem;
  background-color: #c5dff8;
  color: #080202;
  width: 150px;
  font-family: inherit;
  height: 40px;
}

.error-message {
  opacity: 1;
  height: 1;
}

.error-background {
  border: 1px solid #d71313;
  background-color: #cf6060;
}

.show-btn {
  opacity: 1;
}

.show-checking {
  opacity: 1;
}/*# sourceMappingURL=main.css.map */